extends ../index
block content
  content
    .about
      h1 关于我们
      .about-description
        p 关于我们,Two-goods商城，专注闲置物品的交易。
      .about-content
        p Two-goods商城的业务范围包括：家具、服装、婴儿用品、生活用品和电子产品等商品。