extends ../index
block body
  content
    .user-register
      h1 用户注册
      .register-description
        p 进入Two-goods网站后，在页面左上方点击“注册”，将会出现新页面，在新页面根据提示内容输入注册账号、email密码(密码设置不要过于简单)、手机等，确认无误后点击“注册新用户”即可
      .register-content
        p 1).进入QITwo-goods网站后，在页面左上方点击“注册”，将会出现新页面，在新页面根据提示内容输入注册账号、email、密码(密码设置不要过于简单)等，确认无误后点击“立即注册”即可，注册用户名是唯一的。
        img
        img
        p 2).完成注册后，系统自动登录。您可以编辑个人档案，或直接挑选所需购买的商品。