extends ../index
block content
  content
    .user-protocol
      h1 用户协议
      .protocol-description
        p 本协议详述您使用我们的服务所须遵守的条款和条件。如您有任何疑问，请及时联系我们。
      .protocol-content
        p 以下是Two-goods为您提供服务的条款。我们希望您遵守以下的规定，加入会员之前请仔细阅读下列条款，如果您同意请按 "同意条款"按钮。本协议详述您使用我们的服务所须遵守的条款和条件。如您有任何疑问，请及时联系我们。
        p 一、会员注册：
        p 1.费用：在Two-goods注册是完全免费的!
        p 2. 资料填写：
        p 1)提供准确，真实，有效的个人资料;如果会员提供的资料包含有不正确的信息，本站保留结束会员使用网络服务资格的权利;
        p 2)如个人资料有任何变动，必须及时修改会员个人信息;
        p 3)允许本网站不定时向您的电子邮箱以及手机号发送各种信息。
        p 3. 会员的帐号，密码和安全性。
        p 1)本站会员帐号请用您的电子邮件地址登录。
        p 2)会员将对会员名和密码安全以及用其会员名进行的所有活动和事件负全责。
        p 3)会员若发现任何非法盗用会员帐号或存在安全漏洞的情况，请立即通告本站。
        p 二、 有以下行为的会员将被取消会员资格：
        p (1) 违反注册条款
        p (2) 提供虚假个人资料
        p (3) 会员有损公司利益的行为
        p (4) 违反中国的法律、法规、违反互联网相关规定的行为
        p (5) 将会员帐号用于出售、拍卖等，拿会员帐号当作商品进行交易的行为
        p (6) 出借、转让会员帐号给其他会员等不恰当行使会员权利的行为
        p (7) 通过盗取密码、诈骗等不正当手段获得会员帐号的行为
        p (8) 不遵守本站的货到付款政策
        p 三、 会员隐私制度：
        p Two-goods重视对会员隐私保护，尊重会员个人隐私是本站的一项基本政策。您提供的登记资料及本网站保留的有关您的若干其他个人资料将受到中国有关隐私的法律保护。
        p (1)为了尊重会员，公司一定不会在未经会员同意授权的情况下公开、编辑及透露会员的个人信息。
        p (2)本站不公开会员个人信息，除以下情况外：
        p *会员授权本站透露这些信息。
        p *相应法律及程序要求本站提供会员个人资料。
        p *在紧急情况下竭力维护会员个人和社会大众隐私安全。
        p *符合其他相关要求。
        p 四、交易：
        p 会员在本网进行物品购买时必须遵守以下条款：
        p (1) 订单、价格和付款
        p 产品或服务价格、付款条件和配送在订单中以书面形式明确约定为准。
        p (2) 所有权和风险
        p 产品所有权和风险在产品交付买方或其指定收货人时转移给买方。
        p (3)常规保证
        p 我们出售的商品与您亲临商场选购商品时享受同样质量保证。如果发现商品短缺、配送错误、破损等问题，请您当时向配送员指出，并立即与客服中心联系。在顾客收到商品7天之内发现质量问题，可以安排退换货服务，如果更换过商品再次出现质量问题，可再提供退换服务。
        p (4)其他
        p 本网站有权在发现了网站上显现的产品及订单的明显错误的情况下，单方面撤回该信息或撤销订单。在下订单的同时，您应该对订单中提供的所有信息的真实性负责。
        p 五、知识产权声明：
        p Two-goods网站提供的所有内容，如文字、图片、图像、视频、软件等都是本公司财产。同时，本网站相关著作权、专利权、商标及其它任何所有权或权利，均属本网所有，受中国《商标法》、《著作权法》和《国际版权法》等相关法律的保护。除非中国法律另有规定，未经本网的同意，任何企业或个人均无权复制、下载、传输、再造本网站任何内容，也不得提供给第三者使用，否则应负所有法律责任。违反上述声明而给本公司造成损失的，本公司将依法追究其法律责任。
        p 六、免责声明：
        p 本网有义务在技术上确保网站的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证会员网上交易活动的顺利进行。但以下情况，本网站无需承担任何责任：
        p (1)由于您将会员密码告知他人或与他人共享注册账户，由此导致任何个人资料泄露。
        p (2)任何由于黑客攻击、计算机病毒侵入或发作、因政府管理而造成暂时性关闭等影响网络正常经营之不可抗力而造成本网站崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，本网不承担责任;
        p (3)任何会员向本网提供错误、不完整、不实信息等造成不能正常使用本网服务或遭受任何其他损失，概与本网无关。