extends ../index
block body
  content
    .personal-goods
      .row
        .col-md-3
          ul.personal-left
            li
              a(href="#") 我的宝贝
            li
              a(href="#") 已售出的
        .col-md-9