doctype html
html(lang="en")
  head
    title= "Two-goods"
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href= "../styles/components/base.css")
    link(rel="stylesheet", href= "../styles/components/header.css")
    link(rel="stylesheet", href= "../styles/components/navs.css")
    link(rel="stylesheet", href= "../styles/components/icons.css")
    link(rel="stylesheet", href= "../styles/css/main.css")
  body
    header
      .top-header
        span 欢迎光临Two-goods网站！
        .information
          a(href="#") 在线客服
          span |
          a(href="#") 登录
          span |
          a(href="#") 注册
          span |
          a(href="#") 帮助中心
      .middle-header
        a.logo(href="#")

          img(src="https://trello-avatars.s3.amazonaws.com/f86fe17aca00bd48e3dc8485a8011a55/170.png")
        .nav
          .search
            input.search-input(type="text", placeholder="search")
            button.search-btn(type="submit")
              i.fa.fa-search
          ul.nav-right
            .order.barket
              a(href="#")
                span.fa.fa-shopping-cart.shopping-icon
                .shopping-count
                  span 购物车
                  var.count 0
                  span 件
            .order.personal-order
              a(href="#") 我的订单
      .nav-header
        ul.guide
          li
            a(href="/home") 首页
          li
            a(href="#") 发布闲置
          li
            a(href="#") 我的闲置
    content
      .row
        .col-md-3
          ul.category
            li.list-item.camero-item
              .main-area
                span.fa.fa-camera-retro
                a(href="#") 闲置数码
                span.min-list-item
                  a(href="#") 相机
                  a(href="#") 手机
                  a(href="#") 笔记本
              .extra-area.sub-camero-item
                .sub-category
                  dl
                    dt
                      a(href="#") 手机
                    dd
                      a(href="#") 手机壳
                      a(href="#") 充电器
                      a(href="#") 电池
                      a(href="#") 耳机
                      a(href="#") 数据线
                    .line
                  dl
                    dt
                      a(href="#") 相机/摄像机
                    dd
                      a(href="#") 相机
                      a(href="#") 镜头
                      a(href="#") 单反
                      a(href="#") 摄像
                      a(href="#") 胶片
                      a(href="#") 微单
                    .line
                  dl
                    dt
                      a(href="#") 电脑/电脑周边
                    dd
                      a(href="#") 笔记本
                      a(href="#") 平板电脑
                      a(href="#") 台式机整机
                      a(href="#") 显示器
                      a(href="#") 鼠标
                      a(href="#") 硬盘
                      a(href="#") 电源
                      a(href="#") U盘
                      a(href="#") 闪存卡
                      a(href="#") 移动硬盘
                  dl
                    dt
                      a(href="#") 电玩随声听
                    dd
                      a(href="#") MP3
                      a(href="#") MP4
                      a(href="#") MP5
                      a(href="#") Wii
                      a(href="#") PSP
                      a(href="#") PS3
                      a(href="#") xbox
                      a(href="#") 游戏软件
                      a(href="#") 录音笔
              .line
            li.list-item.street-view
              .main-area
                span.fa.fa-street-view
                a(href="#") 闲置母婴
                span.min-list-item
                  a(href="#") 童装
                  a(href="#") 宝宝用品
                  a(href="#") 玩具
              .extra-area.sub-street-view
                .sub-category
                  dl
                    dt
                      a(href="#") 童装
                    dd
                      a(href="#") T恤
                      a(href="#") 外套
                      a(href="#") 棉袄
                      a(href="#") 毛衣
                      a(href="#") 羽绒
                      a(href="#") 套装
                      a(href="#") 童鞋
                    .line
                  dl
                    dt
                      a(href="#") 婴儿服
                    dd
                      a(href="#") 哈衣
                      a(href="#") 新生儿礼盒
                      a(href="#") 肚兜
                      a(href="#") 斗篷
                    .line
                  dl
                    dt
                      a(href="#") 宝宝用品
                    dd
                      a(href="#") 奶瓶
                      a(href="#") 奶嘴
                      a(href="#") 婴儿推车
                      a(href="#") 婴儿床
                      a(href="#") 纸尿裤
                      a(href="#") 游泳池
                      a(href="#") 学步带
                      a(href="#") 尿布
                      a(href="#") 湿巾
                      a(href="#") 沐浴
                      a(href="#") 毛毯
                  dl
                    dt
                      a(href="#") 儿童玩具
                    dd
                      a(href="#") 游泳池
                      a(href="#") 积木
                      a(href="#") 摇铃
                      a(href="#") 拼图
                      a(href="#") 音乐玩具
                      a(href="#") 电动玩具
                      a(href="#") 智能玩具
                      a(href="#") 手工制作
                      a(href="#") 过家家
              .line
            li.list-item.bed
              .main-area
                span.fa.fa-bed
                a(href="#") 家居日用
                span.min-list-item
                  a(href="#") 家具
                  a(href="#") 家纺
                  a(href="#") 日用
              .extra-area.sub-bed
                .sub-category
                  dl
                    dt
                      a(href="#") 家具
                    dd
                      a(href="#") 床
                      a(href="#") 沙发
                      a(href="#") 茶几
                      a(href="#") 餐桌
                      a(href="#") 椅子
                      a(href="#") 衣柜
                      a(href="#") 鞋柜
                      a(href="#") 床头柜
                      a(href="#") 置物架
                      a(href="#") 鞋架
                      a(href="#") 书架
                    .line
                  dl
                    dt
                      a(href="#") 家纺家饰
                    dd
                      a(href="#") 四件套
                      a(href="#") 枕头
                      a(href="#") 床单
                      a(href="#") 被套
                      a(href="#") 被子
                      a(href="#") 窗帘
                      a(href="#") 地毯
                      a(href="#") 地垫
                      a(href="#") 靠垫
                      a(href="#") 桌布
                    .line
                  dl
                    dt
                      a(href="#") 日用日化
                    dd
                      a(href="#") 毛巾
                      a(href="#") 洗衣液
                      a(href="#") 洗衣粉
                      a(href="#") 伞
                      a(href="#") 雨衣
                      a(href="#") 垃圾桶
                  dl
                    dt
                      a(href="#") 家装建材
                    dd
                      a(href="#") 台灯
                      a(href="#") 壁灯
                      a(href="#") 落地灯
                      a(href="#") 地板
                      a(href="#") 马桶
              .line
            li.list-item.music
              .main-area
                span.fa.fa-music
                a(href="#") 影音家电
                span.min-list-item
                  a(href="#") 大家电
                  a(href="#") 小家电
                  a(href="#") 料理机
              .extra-area.sub-music
                .sub-category
                  dl
                    dt
                      a(href="#") 大家电
                    dd
                      a(href="#") 电视机
                      a(href="#") 洗衣机
                      a(href="#") 空调
                      a(href="#") 冰箱
                      a(href="#") 热水器
                    .line
                  dl
                    dt
                      a(href="#") 生活小家电
                    dd
                      a(href="#") 吹风机
                      a(href="#") 剃须刀
                      a(href="#") 风扇
                      a(href="#") 加湿器
                      a(href="#") 挂烫机
                    .line
                  dl
                    dt
                      a(href="#") 厨房电器
                    dd
                      a(href="#") 豆浆机
                      a(href="#") 酸奶机
                      a(href="#") 面包机
                      a(href="#") 冰淇淋机
                      a(href="#") 电饭煲
                      a(href="#") 电炖锅
                  dl
                    dt
                      a(href="#") 影音/耳机/HIFI
                    dd
                      a(href="#") 耳机
                      a(href="#") 音箱
                      a(href="#") 功放
                      a(href="#") 低音炮
                      a(href="#") 播放器
                      a(href="#") DVD
                      a(href="#") 收音机
              .line
            li.list-item.i-cursor
              .main-area
                span.fa.fa-i-cursor
                a(href="#") 鞋服配饰
                span.min-list-item
                  a(href="#") 女装
                  a(href="#") 女鞋
                  a(href="#") 箱包
                  a(href="#") 配饰
              .extra-area.sub-i-cursor
                .sub-category
                  dl
                    dt
                      a(href="#") 女装
                    dd
                      a(href="#") 连衣裙
                      a(href="#") 半身裙
                      a(href="#") T恤
                      a(href="#") 衬衫
                      a(href="#") 卫衣
                    .line
                  dl
                    dt
                      a(href="#") 女鞋
                    dd
                      a(href="#") 运动鞋
                      a(href="#") 单鞋
                      a(href="#") 皮鞋
                      a(href="#") 帆布鞋
                      a(href="#") 凉鞋/拖鞋
                    .line
                  dl
                    dt
                      a(href="#") 箱包
                    dd
                      a(href="#") 女包
                      a(href="#") 男包
                      a(href="#") 旅行箱
                  dl
                    dt
                      a(href="#") 配饰
                    dd
                      a(href="#") 腰带
                      a(href="#") 皮带
                      a(href="#") 帽子
                      a(href="#") 围巾
                      a(href="#") 丝巾
                      a(href="#") 手套
              .line
            li.list-item.diamond
              .main-area
                span.fa.fa-diamond
                a(href="#") 珠宝收藏
                span.min-list-item
                  a(href="#") 珠宝
                  a(href="#") 饰品
                  a(href="#") 艺术收藏
              .extra-area.sub-diamond
                .sub-category
                  dl
                    dt
                      a(href="#") 珠宝
                    dd
                      a(href="#") 翡翠
                      a(href="#") 黄金
                      a(href="#") 钻石
                      a(href="#") 珍珠
                      a(href="#") 碧玺
                      a(href="#") 铂金
                      a(href="#") 琥珀
                    .line
                  dl
                    dt
                      a(href="#") 手表
                    dd
                      a(href="#") 机械表
                      a(href="#") 石英表
                      a(href="#") 电子表
                    .line
                  dl
                    dt
                      a(href="#") 饰品
                    dd
                      a(href="#") 眼镜
                      a(href="#") 手链
                      a(href="#") 项链
                      a(href="#") 吊坠
                      a(href="#") 手镯
                      a(href="#") 戒指
                      a(href="#") 水晶
                  dl
                    dt
                      a(href="#") 收藏品
                    dd
                      a(href="#") 古玩
                      a(href="#") 邮票
                      a(href="#") 钱币
                      a(href="#") 和田玉
                      a(href="#") 古玉
                      a(href="#") 陶瓷
        .col-md-5
          a(href="#")
            img(alt="car", src="../images/car.jpg")
          .control
            span.fa.fa-circle-thin
            span.fa.fa-circle
        .col-md-4
    footer
      ul.menu
        li
          dl
            dt 会员注册
            dd
              a(href="#") 用户协议
            dd
              a(href="#") 在线支付
            dd
              a(href="#") 购物流程
            dd
              a(href="#") 会员注册
        li
          dl
            dt 常见疑问
            dd
              a(href="#") 如何留言
            dd
              a(href="#") 忘记密码
            dd
              a(href="#") 常见问题
            dd
              a(href="#") 常见疑问
        li
          dl
            dt 退换货政策
            dd
              a(href="#") 投诉&建议
            dd
              a(href="#") 退换货流程
            dd
              a(href="#") 退换货政策
        li
          dl
            dt 在线客服
            dd
              a(href="#") 关于我们
            dd
              a(href="#") 在线客服
        li
          dl
            dt 快递查询
            dd
              a(href="#") 配送&验收
            dd
              a(href="#") 快递查询