doctype html
html(lang="en")
  head
    title= "Two-goods"
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href= "../styles/components/base.css")
    link(rel="stylesheet", href= "../styles/components/header.css")
    link(rel="stylesheet", href= "../styles/components/navs.css")
    link(rel="stylesheet", href= "../styles/components/icons.css")
    link(rel="stylesheet", href= "../styles/css/main.css")
  body
    header
      .top-header
        span 欢迎光临Two-goods网站！
        .information
          a(href="#") 在线客服
          span |
          a(href="#") 登录
          span |
          a(href="#") 注册
          span |
          a(href="#") 帮助中心
      .middle-header
        a.logo(href="#")

          img(src="https://trello-avatars.s3.amazonaws.com/f86fe17aca00bd48e3dc8485a8011a55/170.png")
        .nav
          .search
            input.search-input(type="text", placeholder="search")
            button.search-btn(type="submit")
              i.fa.fa-search
          ul.nav-right
            .order.barket
              a(href="#")
                span.fa.fa-shopping-cart.shopping-icon
                .shopping-count
                  span 购物车
                  var.count 0
                  span 件
            .order.personal-order
              a(href="#") 我的订单
      .nav-header
        ul.guide
          li
            a(href="/home") 首页
          li
            a(href="#") 发布闲置
          li
            a(href="#") 我的闲置
    content

    footer
      ul.menu
        li
          dl
            dt 会员注册
            dd
              a(href="#") 用户协议
            dd
              a(href="#") 在线支付
            dd
              a(href="#") 购物流程
            dd
              a(href="#") 会员注册
        li
          dl
            dt 常见疑问
            dd
              a(href="#") 如何留言
            dd
              a(href="#") 忘记密码
            dd
              a(href="#") 常见问题
            dd
              a(href="#") 常见疑问
        li
          dl
            dt 退换货政策
            dd
              a(href="#") 投诉&建议
            dd
              a(href="#") 退换货流程
            dd
              a(href="#") 退换货政策
        li
          dl
            dt 在线客服
            dd
              a(href="#") 关于我们
            dd
              a(href="#") 在线客服
        li
          dl
            dt 快递查询
            dd
              a(href="#") 配送&验收
            dd
              a(href="#") 快递查询