doctype html
html(lang="en")
  head
    title= "Two-goods"
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href= "styles/css/main.css")
  body
    header
      a.logo(href="#")
        img(src="https://trello-avatars.s3.amazonaws.com/f86fe17aca00bd48e3dc8485a8011a55/170.png")
      .nav
        ul.nav-toolbar.is-align-left.nav-clearfix
          li
            .search
              input.search-input(type="text", placeholder="search")
              button.search-btn(type="submit")
                i.fa.fa-search
        ul.nav-toolbar.is-align-right.nav-clearfix
          li
            .nav-item
