.menu {
  margin: 0 $margin-default*4 $margin-default $margin-default*4;
  padding: $padding-default 15px;
  overflow: hidden;
  > li {
    text-align: center;
    display: inline-block;
    width: 20%;
    float: left;
    @include clearfix();
    a {
      color: $text-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}