/// Layout content
content, #content {
  margin: 0 $margin-default*4 $margin-default*4 $margin-default*4;
  position: relative;
  display: block;
  background-color: $content-bg-color;
  > .row > .col-md-6 > a > img {
    width: 100%;
  }
}
@media screen and (max-width: $screen-sm-max) {
  content, #content {
    margin-left: 0;
    margin-right: 0;
  }
}
