/// Layout content
content, #content {
  margin: 8px 32px 8px 32px;
  position: relative;
  display: block;
  padding: 0px 0px 59px 0px;
  background-color: $content-bg-color;
}
@media screen and (max-width: $screen-sm-max) {
  content, #content {
    margin-left: 0px;
  }
}
