header, #header {
  height: $layout-header-height;
  background-color: $header-bgcolor;
}
.top-header {
  height: $top-header-height;
  margin: 0 $padding-default*4;
  padding: $padding-default $padding-default $padding-default 15px;
  font: 14px/1.5 arial;
  > span {
    display: inline-block;
    color: #fff;
  }
  .information {
    float: right;
    @include clearfix();
    a {
      color: #fff;
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
    > span {
      color: #adefe7;
      padding: 0 $padding-default*3;
    }
  }
}
.middle-header {
  height: $middle-header-height;
  margin: 0 $padding-default*4;
  padding: $padding-default $padding-default $padding-default 15px;
  .logo {
    float: left;
    display: block;
    width: 35%;
    overflow: hidden;
    img {
      height: $header-image-height;
      width: 100%;
    }
  }
}
.nav-header {
  height: $layout-header-height - $top-header-height - $middle-header-height;
  background-color: #fff;
  padding: $padding-default $padding-default*4 + 15px;
  border-bottom: 1px solid #eee;
  .guide {
    line-height: $layout-header-height - $top-header-height - $middle-header-height - $padding-default*2;
    border-left: 1px #a7d9d4 dotted;
    li {
      width: 33.333333%;
      text-align: center;
      display: inline-block;
      padding: 0 $padding-default*3;
      border-right: 1px #a7d9d4 dotted;
      > a {
        color: #000000;
        font-weight: bold;
        &:hover, &:focus {
          color: $text-hover;
          border-bottom: 3px solid $text-hover;
        }
      }
    }
  }
}
@media screen and (max-width: 1235px) {
  .middle-header {
    margin: 0;
  }
}
@media screen and (max-width: 915px) {
  header, #header {
    height: $layout-header-height+$middle-header-height;
  }
  .middle-header {
    height: $middle-header-height*2;
    .logo {
      float: none;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: $screen-sm-max) {
  .top-header {
    margin: 0;
  }
   .nav-header {
     padding: $padding-default 15px;
  }
}
