extends ../index
block body
  content
    .forget-password
      h1 忘记密码
      .password-description
        p 如遗忘密码，可通过您注册时填写的邮箱号码找回密码，或直接拨打我们的客服电话156-5187-5243，让工作人员协助您及时找回密码。
      .password-content
        p 如遗忘密码，可通过您注册时填写的邮箱号码找回密码，或直接拨打我们的客服电话156-5187-5243，让工作人员协助您及时找回密码。